.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: none;
    background-color: #111;
    color: rgb(250, 0, 0);
  }
  .callout {
    float: left;
    width: 10%;
}
body {
  background-color:black;
  color: azure;
}
pre code {
  color: black;
}
td {
  background-color: #333;
}
th {
  background-color: #333;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}