.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .nav li {
    float: left;
  }
  .nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    text-decoration: none;
    background-color: #111;
    color: rgb(250, 0, 0);
  }
  .callout {
    float: left;
    width: 10%;
}
body {
  background-color:black;
  color: azure;
}
pre code {
  color: black;
}
td {
  background-color: #333;
}
th {
  background-color: #333;
}